/*Login*/

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .login-form {
    background-color: var(--background);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
  }
  
  .login-form h2 {
    text-align: center;
    color: var(--primaryText);
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 8px;
    color: var(--primaryText);
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    font-size: 16px;
    color: var(--primaryText);
    background-color: var(--background);
  }
  
  .login-form input:focus {
    border-color: var(--secondary);
    outline: none;
  }
  
  .login-form button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary);
    color: var(--secondaryText);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .login-form button:hover {
    background-color: var(--secondary);
  }
  
  .login-form .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
  }
  