*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.publishContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.publishForm>h2{
    margin-bottom: 30px;
    justify-self: center;
    align-self: center;
}

.publishForm textarea{
    resize:unset;
    padding: 12px;
    border-radius: 10px;
    font-size: 0.95rem;
    background-color: var(--background);
    border: 2px solid var(--primary);
    color: var(--primaryText);
}

.publishForm{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.25rem;
    padding: 50px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.25);
    color: var(--secondaryText);
}

.publishFormItem{
    display: inherit;
    flex-direction: column;
    gap: 16px;
}

.publishForm input[type = text]{
    padding: 12px;
    border-radius: 10px;
    font-size: 0.95rem;
    background-color: var(--background);
    border: 2px solid var(--primary);
    color: var(--primaryText);
}

.formSelect{
    height: 3em;
    font-size: 0.95rem;
    cursor: pointer;
    background-color: var(--background);
    border: 2px solid var(--primary);
    color: var(--primaryText);
    border-radius: 10px;
    padding: 10px;
}

.publishButton{
    padding: 10px;
    font-size: 0.95rem;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: var(--background);
    border: 2px solid var(--primary);
    color: var(--secondaryText);
}

.publishButton:hover{
    background-color: var(--primary);
    color: var(--primaryText);
}
  