/* Általános alapértelmezett stílusok */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(164deg, var(--background) 58%, var(--thirdColor) 82%);
  color: var(--primaryText); /* Betűszín beállítása */
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}


.simplebar-scrollbar {
  background: var(--hover);
  border-radius: 10px;
}

.simplebar-track {
  background: var(--background);
}

.simplebar-scrollbar {
  opacity: 0;
  transition: opacity 1s ease;
}

.simplebar-track .simplebar-visible {
  opacity: 1 !important;
}

.appContent {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.main-content {
  margin-left: 60px;
  transition: margin-left 0.3s ease;
  flex-grow: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

@media(min-width:768px){
  .sidebar.expanded + .main-content {
    margin-left: 200px; /* Kinyitott sidebar esetén */
  }

}
@media(max-width:768px){
  .sidebar.expanded + .main-content {
    margin-bottom: 50px; /* Kinyitott sidebar esetén */
  }
  .main-content{
    margin: 0;
  }
}

/* Light Theme */
.light-theme {
  --background: #fdf3e7; /* Világos homok szín */
  --primaryText: #9a3508; /* Erőteljes narancsbarna */
  --secondaryText: #d06d39; /* Lágyabb narancs */
  --primary: #e27227; /* Melegebb narancs árnyalat */
  --secondary: #f1842d; /* Élénk narancs */
  --hover: #f5a056; /* Pasztell narancs hover */
  --slider: #9a3508; /* Erősebb szín a csúszkán */
  --thirdColor: #fde8d1; /* Világosabb háttérszín */
}

.dark-theme {
  --background: #0f0407; /* Még sötétebb borvörös */
  --primaryText: #e0aab5; /* Lágyabb rózsaszín text */
  --secondaryText: #a44b63; /* Halványabb bordó árnyalat */
  --primary: #7b1b4d; /* Mély mályva szín */
  --secondary: #8d234f; /* Sötétebb rózsaszín */
  --hover: #c04d66; /* Lágyabb hover rózsaszín */
  --slider: #a43458; /* Halvány bordó a csúszkához */
  --thirdColor: #1c0a11; /* Még sötétebb bordó árnyék */
}

/*Light theme*/
.light-theme .publishForm{
  border: 2px solid var(--primary);
  color: var(--primaryText);
  background-color: var(--secondary);
}

.light-theme .formSelect{
  background-color: var(--background);
  border: 2px solid var(--primary);
  color: var(--primaryText);
  border-radius: 10px;
  padding: 10px;
}

.light-theme .publishForm textarea{
  background-color: var(--background);
  border: 2px solid var(--primary);
  color: var(--secondaryText);
}

.light-theme .publishForm input[type = text]{
  background-color: var(--background);
  border: 2px solid var(--primary);
  color: var(--secondaryText);
}

.light-theme .publishButton{
  background-color: var(--background);
  border:2px solid var(--primary);
  color: var(--secondaryText);
}

/*Dark Theme*/

.dark-theme .publishForm{
  border: 2px solid var(--primary);
  color: var(--primaryText);
}

.dark-theme .formSelect{
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  color: var(--primaryText);
  border-radius: 10px;
  padding: 10px;
}

.dark-theme .publishForm textarea{
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  color: var(--secondaryText);
}

.dark-theme .publishForm input[type = text]{
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  color: var(--secondaryText);
}

.dark-theme .publishButton{
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  color: var(--secondaryText);
}

