/* Általános alapértelmezett stílusok */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, var(--background), var(--thirdColor));
  color: var(--primaryText);
  overflow: hidden;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  25% { background-position: 50% 60%; }
  50% { background-position: 100% 50%; }
  75% { background-position: 50% 40%; }
  100% { background-position: 0% 50%; }
}

::-webkit-scrollbar {
  display: none;
}


.simplebar-scrollbar {
  background: var(--hover);
  border-radius: 10px;
}

.simplebar-track {
  background: var(--background);
}

.simplebar-scrollbar {
  opacity: 0;
  transition: opacity 1s ease;
}

.simplebar-track .simplebar-visible {
  opacity: 1 !important;
}

.appContent {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.main-content {
  margin-left: 60px;
  transition: margin-left 0.3s ease;
  flex-grow: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

@media(min-width:768px){
  .sidebar.expanded + .main-content {
    margin-left: 200px; /* Kinyitott sidebar esetén */
  }

}
@media(max-width:768px){
  .sidebar.expanded + .main-content {
    margin-bottom: 50px; /* Kinyitott sidebar esetén */
  }
  .main-content{
    margin: 0;
  }
}
.light-theme {
  --background: #f3e5e5; /* Halvány rózsás háttér */
  --primaryText: #09122C; /* Sötétkék szöveg */
  --secondaryText: #872341; /* Mély bordós-piros */
  --primary: #BE3144; /* Élénk vöröses árnyalat */
  --secondary: #E17564; /* Melegebb, világosabb vörös */
  --hover: #f5a397; /* Világosabb rózsás hover */
  --slider: #872341; /* Erősebb bordó csúszka */
  --thirdColor: #f8d2cd; /* Világos pasztelles háttérszín */
}

.dark-theme {
  --background: #09122C; /* Mélykékes háttér */
  --primaryText: #E17564; /* Világosabb vöröses szöveg */
  --secondaryText: #BE3144; /* Élénkebb vörös */
  --primary: #872341; /* Sötétebb bordó */
  --secondary: #BE3144; /* Kevésbé sötét, erőteljes vörös */
  --hover: #E17564; /* Lágyabb piros hover */
  --slider: #BE3144; /* Intenzív vörös csúszka */
  --thirdColor: #0d1a3d; /* Sötétkék árnyalatú fekete */
}
/*eredeti light theme*/

/*
  --background: #fdf3e7;
  --primaryText: #9a3508;
  --secondaryText: #d06d39;
  --primary: #e27227;
  --secondary: #f1842d;
  --hover: #f5a056;
  --slider: #9a3508;
  --thirdColor: #fde8d1;
*/

/*eredeti lila*/
/* .dark-theme {
  --background: #0f0407;
  --primaryText: #e0aab5;
  --secondaryText: #a44b63;
  --primary: #7b1b4d;
  --secondary: #8d234f;
  --hover: #c04d66;
  --slider: #a43458;
  --thirdColor: #1c0a11; 
} */

/* zöld
  --background: #050a05;
  --primaryText: #d4f7d4;
  --secondaryText: #729f72;
  --primary: #0e2a0e;
  --secondary: #14401a;
  --hover: #296d29; 
  --slider: #1f4d2e; 
  --thirdColor: #081a0d; 
*/



/*Light theme*/
.light-theme .publishForm{
  border: 2px solid var(--primary);
  color: var(--primaryText);
  background-color: var(--secondary);
}

.light-theme .formSelect{
  background-color: var(--background);
  border: 2px solid var(--primary);
  color: var(--primaryText);
  border-radius: 10px;
  padding: 10px;
}

.light-theme .publishForm textarea{
  background-color: var(--background);
  border: 2px solid var(--primary);
  color: var(--secondaryText);
}

.light-theme .publishForm input[type = text]{
  background-color: var(--background);
  border: 2px solid var(--primary);
  color: var(--secondaryText);
}

.light-theme .publishButton{
  background-color: var(--background);
  border:2px solid var(--primary);
  color: var(--secondaryText);
}

/*Dark Theme*/

.dark-theme .publishForm{
  border: 2px solid var(--primary);
  color: var(--primaryText);
}

.dark-theme .formSelect{
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  color: var(--primaryText);
  border-radius: 10px;
  padding: 10px;
}

.dark-theme .publishForm textarea{
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  color: var(--secondaryText);
}

.dark-theme .publishForm input[type = text]{
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  color: var(--secondaryText);
}

.dark-theme .publishButton{
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  color: var(--secondaryText);
}

