/* Általános alapértelmezett stílusok */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, var(--background) 70%, var(--thirdColor) 100%);
  color: var(--primaryText);
  overflow: hidden;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
  display: none;
}


.simplebar-scrollbar {
  background: var(--hover);
  border-radius: 10px;
}

.simplebar-track {
  background: var(--background);
}

.simplebar-scrollbar {
  opacity: 0;
  transition: opacity 1s ease;
}

.simplebar-track .simplebar-visible {
  opacity: 1 !important;
}

.appContent {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

.main-content {
  margin-left: 60px;
  transition: margin-left 0.3s ease;
  flex-grow: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

@media(min-width:768px){
  .sidebar.expanded + .main-content {
    margin-left: 200px; /* Kinyitott sidebar esetén */
  }

}
@media(max-width:768px){
  .sidebar.expanded + .main-content {
    margin-bottom: 50px; /* Kinyitott sidebar esetén */
  }
  .main-content{
    margin: 0;
  }
}

.light-theme {
  --background: #f3e5e5; /* Halvány rózsás háttér */
  --primaryText: #09122C; /* Sötétkék szöveg */
  --secondaryText: #872341; /* Mély bordós-piros */
  --primary: #BE3144; /* Élénk vöröses árnyalat */
  --secondary: #E17564; /* Melegebb, világosabb vörös */
  --hover: #f5a397; /* Világosabb rózsás hover */
  --slider: #872341; /* Erősebb bordó csúszka */
  --thirdColor: #f8d2cd; /* Világos pasztelles háttérszín */
}

.dark-theme {
  --background: #09122C; /* Mélykékes háttér */
  --primaryText: #E17564; /* Világosabb vöröses szöveg */
  --secondaryText: #BE3144; /* Élénkebb vörös */
  --primary: #872341; /* Sötétebb bordó */
  --secondary: #BE3144; /* Kevésbé sötét, erőteljes vörös */
  --hover: #E17564; /* Lágyabb piros hover */
  --slider: #BE3144; /* Intenzív vörös csúszka */
  --thirdColor: #0d1a3d; /* Sötétkék árnyalatú fekete */
}


